## Ejercicio1 - Utilizar operadores aritméticos

* Exploremos cómo podemos crear un programa que pueda calcular la distancia entre dos planetas. Comenzaremos usando dos distancias de planetas: Tierra (149.597.870 km) y Júpiter (778.547.200 km).

In [2]:
distancia_tierra = 149597870
distancia_jupiter = 778547200

* Con los valores obtenidos, es el momento de añadir el código para realizar la operación. Restarás el primer planeta del segundo para determinar la distancia en kilómetros. A continuación, puedes convertir la distancia del kilómetro en millas multiplicándola por 0.621.

In [6]:
distancia = (distancia_jupiter - distancia_tierra) 
print("Distancia en Kilometros: " + str(distancia))
print("Distancia en Millas: " + str(distancia * 0.621))

Distancia en Kilometros: 628949330
Distancia en Millas: 390577533.93

## Ejercicio 2: convierte cadenas en números y usa valores absolutos

* Para crear nuestra aplicación, queremos leer la distancia del sol para dos planetas, y luego mostrar la distancia entre los planetas. Haremos esto usando input para leer los valores, int para convertir a entero y luego abs para convertir el resultado en su valor absoluto.

#### Lee los valores

1. Usando input, agrega el código para leer la distancia del sol para cada planeta, considerando 2 planetas.

In [12]:
planeta_uno = input("Ingresa la distancia con respecto al sol para el primer planeta: ")
planeta_dos = input("Ingresa la distancia con respecto al sol para el segundo planeta: ")

### Convertir a número
2. Debido a que input devuelve valores de cadena, necesitamos convertirlos en números. Para nuestro ejemplo, usaremos int

In [13]:
distancia_planeta_uno = int(planeta_uno)
distancia_planeta_dos = int(planeta_dos)

### Realizar el cálculo y convertir a valor absoluto
3. Con los valores almacenados como números, ahora puedes agregar el código para realizar el cálculo, restando el primer planeta del segundo. Debido a que el segundo planeta podría ser un número mayor, usarás abs para convertirlo a un valor absoluto. También agregarás el código para mostrar el resultado en millas multiplicando la distancia del kilómetro por 0.621

In [16]:
distancia_kilometros = abs(distancia_planeta_dos - distancia_planeta_uno)
distancia_millas = distancia_kilometros * 0.621
print("Distancia en kilometros: %s" % distancia_kilometros)
print("Distancia en millas: %s" % distancia_millas)

Distancia en kilometros: 121700000
Distancia en millas: 75575700.0

### Distancias por Planeta

* Mercurio	= 57900000
* Venus	= 108200000
* Tierra	= 149600000
* Marte	= 227900000
* Júpiter	= 778600000
* Saturno	= 1433500000
* Urano	= 2872500000
* Neptuno	= 4495100000